# External libraries should not count towards language stats
external/** linguist-vendored

# Have header and source files count as C++
*.cpp linguist-language=C++
*.h linguist-language=C++
*.hpp linguist-language=C++
